*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}
/* #region Navegacion */
nav{
    background-color: #ffffff;
    color: rgb(40, 161, 56);
    height: 90px;
    z-index: 999;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    z-index: 99;
}
.icono img{
    margin-top: 5px;
    height: 80px;
}
.menu a{
    text-decoration: none;
    margin-left: 15px;
    font-weight: 800;
    transition: color 0.5s, border 0.5s;
    color: rgb(40, 161, 56);
    padding-bottom: 3px;
}
.menu .one:hover{
    color: rgb(30, 97, 39);
    text-decoration: none;
} 
.results{
    margin-left: 20px;
    border: 2px rgb(40, 161, 56) solid;
    border-radius: 20px;
    background-color: #fff;
    transition: all step-start ;
    padding: 4px 10px 5px 10px;
}
.results:hover{
    color: #fff;
    background-color: rgb(40, 161, 56);
    text-decoration: none;
    border-color: #fff;
}
#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.7;
    z-index: 99;
    display: none;
}
#contacto{
    display: none;
    line-height: 30px;
    position: fixed;
    width: 40%;
    height: 40%;
    top: 50%; left: 50%;
    margin-left: -20%; margin-top: -7%;
    color: #fff;
    background-color: rgb(40, 161, 56);
    z-index: 999;
    opacity: 1;
    align-items: center;
    justify-content: center;
    animation-name: mod;
    animation-duration: 0.1s;
    animation-timing-function: ease-in-out;
}
/* #region seguros */
.content-all{
    margin-top: 170px;
    width: 100%;
    height: 300px;
    perspective: 1000px;
    position: relative;
    right: -500px;
}
.content-carrousel{
    width: 20%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
    
}
.content-carrousel:hover{
    animation-play-state: paused;
}
.content-carrousel figure{
    width: 100%;
    height: 100%;
    position: absolute;
    /* overflow: hidden; */
}
.content-carrousel img{
    width: 100%;
}
.content-carrousel figure:nth-child(1){
    transform: rotateY(0deg) translateZ(300px);
}
.content-carrousel figure:nth-child(2){
    transform: rotateY(90deg) translateZ(300px);
}
.content-carrousel figure:nth-child(3){
    transform: rotateY(180deg) translateZ(300px);
}
.content-carrousel figure:nth-child(4){
    transform: rotateY(270deg) translateZ(300px);
}
.content-carrousel figure:nth-child(5){
    transform: rotateY(360deg) translateZ(300px);
}
/* #endregion */

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    }to{
        transform: rotateY(360deg);
    }
}
@keyframes mod{
    0%{width: 0%; height: 0%; top: 55%; left: 55%;}
    100%{width: 40%; height: 40%;top: 50%; left: 50%;}
}
/* #endregion */
/* #region Carrusel*/
.carousel{
    background-image: url('./medico.png');
    background-attachment: fixed;
    background-size: cover;
    background-clip: content-box;
    
}
.padre{
    margin: 0 auto;
    width: 80%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#fff;
    
}
h1{
    font-size: 40px;
    line-height: 70px;
}
.padre p{
    font-size: 30px;
    line-height: 35px;
}
.padre img{
    width: 500px;
    height: 300px;
}
.carousel-item{
    margin: 0 auto;
}
.texto{
    width: 40%;
}
/* #endregion */
/* #region Servicios*/
.servicios div{
    margin-top: 20px;
    margin-bottom: 90px;

}
.servicios{
    width: 95%;
    height: 1150px;
    margin: 0 auto;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(40, 161, 56);
} 
.imagenes{
    position: relative;
    left: -140px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.servicios img{
    width: 30%;
    height: 30%;
    border-radius: 10px;
}
.sonografia{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    right: -75px;
    display: none;
}
.consulta{
    position: relative;
    left: -140px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.gap{
    height: 500px;
}
/* #endregion */
/* #region Empresa*/
.empresa{
    margin-top: 30px;
    margin: 0 auto;
    background-color: rgb(40, 161, 56);
    color: #fff;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
.tarjeta{
    width: 300px;
    
}
.tarjeta i{
    font-size: xx-large;
    margin-right: 7px;
}
.ico{
    display: flex;

}
/* #endregion */
/* #region Informacion relevante de la empresa*/
.relevancia{
    color: rgb(40, 161, 56);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.relevancia p{
    align-items: center;
}
.horario p{
    font-size: 30px;
}
.horario{
    vertical-align: center;
}
/* #endregion */
/* #region footer*/
footer{
    background-color:  rgb(40, 161, 56);
    color: #fff;
    font-size: large;
    text-align: center;
}
/* #endregion */

/* #region seguros*/

/* #endregion */

/* #region Responsive*/
@media only screen and (max-width: 768px){
    /* #region Nav*/
    
    /* #endregion */
    
    /* #region Carrusel*/
    .padre{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .padre img{
        width: 350px;
        height: 200px;
    }
    .padre p{
        font-size: 20px;
    }
    /* #endregion */
    
    /* #region Servicios*/
    .servicios{
        height: 1100px;
    }
    .servicios img{
        width: 50%;
        height: 50%;
    }
    .imagenes{
        left: 0px;
        display: flex;
    }
    .sonografia{
        right: 0px;
    }
    .consulta{
        left: 0px;
    }
    /* #endregion */

    
    /* #region Empresa*/
    .empresa{
        display: flex;
        flex-direction: column;
    }
    .tarjeta{
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }
    /* #endregion */

    /* #region Relevancia*/
    
    
    .relevancia{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    iframe{
        width: 768px;
    }
    /* #endregion */
}
/* #endregion */