*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
}
hr{
    border: 3px;
}
body{
    overflow-x: hidden;
}
/* #region Navegacion */
#logo{
    text-align: center;
}
#resultado{
    color: #0f9b0f;
    border: 2px rgb(40, 161, 56) solid;
    border-radius: 20px;
    background-color: #fff;
    transition: all 0.3s ;
    padding: 4px 10px 5px 10px;
}
#resultado:hover{
    color: #fff;
    background-color: rgb(40, 161, 56);
    text-decoration: none;
    border-color: #fff;
}
/* #endregion */



/* #region Carrusel*/
.carousel{
    background-image: url('./medico.png');
    background-attachment: fixed;
    background-size: cover;
    background-clip: content-box;
    
}
.padre{
    margin: 0 auto;
    width: 80%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#fff;
    
}
h1{
    font-size: 40px;
    line-height: 70px;
}
.padre p{
    font-size: 30px;
    line-height: 35px;
}
.padre img{
    width: 500px;
    height: 300px;
}
.carousel-item{
    margin: 0 auto;
}
.texto{
    width: 40%;
}
/* #endregion */


/* #region Servicios*/
.servicios div{
    margin-top: 20px;
    margin-bottom: 90px;

}
.servicios{
    width: 95%;
    height: 1150px;
    margin: 0 auto;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(40, 161, 56);
} 
.imagenes{
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.servicios img{
    width: 30%;
    height: 30%;
    border-radius: 10px;
}
.sonografia{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    
    display: none;
}
.consulta{
    position: relative;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
.gap{
    height: 500px;
}
/* #endregion */


/* #region Integridad*/
.empresa{
    margin-top: 30px;
    margin: 0 auto;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0f9b0f, #000000); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    color: #fff;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
}
.tarjeta{
    width: 300px;
    
}
.tarjeta i{
    font-size: xx-large;
    margin-right: 7px;
}
.ico{
    display: flex;

}
/* #endregion */

/* #region Informacion relevante de la empresa*/
.relevancia{
    color: rgb(40, 161, 56);
    margin-top: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
iframe{
    width: 850px;
}
.mapa{
    margin: 0 auto;
    width: 780px;
}
.relevancia p{
    align-items: center;
}
.horario p{
    font-size: 30px;
}
.horario{
    vertical-align: center;
}
/* #endregion */


/* #region footer*/
footer{
    background-color:  rgb(40, 161, 56);
    color: #fff;
    font-size: large;
    text-align: center;
}
/* #endregion */

/* #region seguros*/
.seguros{
    position: relative;
    left: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}
/* #endregion */


/* #region Responsive*/
@media only screen and (max-width: 1024px){

    /* #region servicios*/
        .servicios{
            padding: 0;
            margin: 0;
        }
    /* #endregion */
    /* #region Seguros */
        .seguros img{
            width: 200px;
        }
    /* #endregion */

    /* #region Relevacncia*/
        iframe{
            width: 1020px;
        }
    /* #endregion */
}
@media only screen and (max-width: 768px){
   
    /* #region Nav*/
   #resultado{
       text-align: center;
   }
    /* #endregion */
    
    /* #region Carrusel*/
    .padre{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .padre img{
        width: 350px;
        height: 200px;
    }
    .padre p{
        font-size: 20px;
    }
    #demo{
        /* margin-top: 170px; */
        display: block;
        z-index: -1;
    }
    /* #endregion */
    
    /* #region Servicios*/
    .servicios{
        height: 1100px;
    }
    .servicios img{
        width: 369px;
        height: 246px;
    }
    /* #endregion */

    
    /* #region Empresa*/
    .empresa{
        display: flex;
        flex-direction: column;
    }
    .tarjeta{
        width: 100%;
        height: 100px;
        margin-top: 20px;
    }
    /* #endregion */

     /* #region Seguros */
     .seguros{
        display: flex;
        align-items: stretch;
        left: 0;
    }
    .seguros img{
        width: 320px;
    }
    /* #endregion */

    /* #region Relevancia*/
    
    
    .relevancia{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    iframe{
        width: 768px;
    }
    /* #endregion */
}
@media only screen and (max-width: 375px){

    /* #region servicios*/
        .servicios{
            padding: 0;
            margin: 0;
        }
    /* #endregion */
    /* #region Seguros */
        .seguros img{
            width: 200px;
        }
    /* #endregion */

    /* #region Relevacncia*/
        iframe{
            width: 370px;
        }
    /* #endregion */
}

/* #endregion */